html {
  /* Nicer looking fonts for OS X and iOS */
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Alex";
  src: url("/fonts/AlexBrush-Regular.ttf");
}

@font-face {
  font-family: "AntroBold";
  src: url("/fonts/Antro_Vectra_Bolder.otf");
}

@font-face {
  font-family: "Antro";
  src: url("/fonts/Antro_Vectra.otf");
}

@font-face {
  font-family: "Halimun";
  src: url("/fonts/Halimun.ttf");
}

:root {
  /* --black: #000000;
  --bright-red: #ff0400;
  --charcoal: #202022;
  --dark-orange: #f45905;
  --dark-purple: #222831;
  --light-orange: #ffaf4f;
  --navy: #2d4059;
  --orange: #ff5722;
  --red: #dc2f2f;
  --white: #ffffff; */

  /* Color schemes */
  --black: #000000;
  --bright-red: #ff4f00;
  --charcoal: #000000;
  --dark-orange: #ff4f00;
  --dark-purple: #2b2b2b;
  --light-orange: #ffff00;
  --navy: #575151;
  --orange: #ff5722;
  --red: #dc2f2f;
  --white: #ffffff;

  /* Font Families */
  --ff-main: "Montserrat", sans-serif;
  --ff-sub: "Epilogue", sans-serif;
  --ff-sign: "Alex";

  /* Font Weights */
  --fw-r: 400;
  --fw-m: 500;
  --fw-sb: 600;
  --fw-b: 700;
  --fw-eb: 800;

  /* Font size */
  --fs-def: 1rem;
  --fs-0: 0.75rem;
  --fs-1: 0.875rem;
  --fs-2: 1.375rem;
  --fs-3: 2.5rem;
  --fs-4: 2.8rem;

  /* Box shadow */
  --b-sh: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: var(--fs-def); /*You'll want to set font-size as needed.*/
  font-weight: var(--fw-r); /*No bold for h tags unless you want it*/
  margin: 0; /*We will be adding our own margin to these elements as needed.*/
}

img {
  /*Make images behave responsively. Here they will scale up to 100% of their natural size*/
  max-width: 100%;
  /*Make images display as a block (UA default is usually inline)*/
  display: block;
}

/*Set a default non-variable font but then enhance if the browser supports a variable font*/
body {
  /* border-bottom: 5px solid #ff4f00;
  border-top: 5px solid #ff4f00; */
  font-family: Inter, sans-serif;
  /* background-color: orange; */
}

/* ------------------NAVBAR------------------ */
.signature {
  min-width: 100%;
  padding: 0 1.25em;
  position: fixed;
  top: 40px;
  z-index: 1;
}

.signature__fullname {
  font-family: var(--ff-main);
  font-size: var(--fs-1);
  font-weight: var(--fw-eb);
  letter-spacing: -0.02em; /*-0.06em*/
  text-transform: uppercase;
  color: #ffffff;
}

.signature__title {
  font-family: var(--ff-main);
  font-size: var(--fs-0);
  font-weight: var(--fw-b);
  color: #ffffff;
  margin-top: 0.3125em;
}

.switch {
  position: absolute;
  width: 70px;
  height: 40px;
}

.switch input {
  display: none;
}

.switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ff4f00;
  transition: ease-in 0.6s;
  border-radius: 20px;
}

.switch__slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  top: 5px;
  left: 5px;
  background-color: var(--black);
  transition: ease-in 0.6s;
  border-radius: 20px;
}

.switch input:checked + .switch__slider:before {
  transform: translateX(30px);
}

.header__logo {
  margin-left: 2rem;
  width: 45px;
  height: 45px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black);
  min-height: 10vh;
  position: relative;
  outline: 1px solid rgb(255, 87, 34);
}

.right-side {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

.right-side__link {
  color: var(--white) !important;
  padding-right: 3rem;
}

.github-icon {
  font-size: 32px !important;
  transition: color 0.4s ease-out;
}

.github-icon:hover {
  color: rgb(255, 87, 34);
}

.box {
  position: absolute;
  bottom: 0;
  border: 2px solid rgb(255, 87, 34);
  border-radius: 50px;
  width: 40px;
  height: 65px;
  margin-bottom: 5px;
}

.arrow {
  padding-top: 10px;
  text-align: center;
  color: rgb(255, 87, 34);
  font-size: 30px;
}

.nav__links {
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
  list-style-type: none;
}

.nav__links li {
  padding-top: 1.2rem;
  text-align: center;
}

.nav__links li a {
  color: var(--white);
  font-family: var(--ff-sub);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.05em;
}

.hamburger {
  display: inline-block;
  cursor: pointer;
  margin-right: 3rem;
  position: relative;
}

.button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 1s;
}

.button::before {
  content: "";
  z-index: -1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 0px;
  width: 0px;
  border-radius: 50%;
  background-color: rgb(255, 79, 0);
  transition: 0.3s ease-in-out;
}

.button:hover::before {
  content: "";
  height: 40px;
  width: 40px;
}

.bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
  transition: 0.3s ease-in;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-6px, 5px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-6px, -5px);
}

.side-navbar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s ease-in-out;
}

.side-navbar a {
  padding: 18px 32px 18px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  position: relative;
}

.link__project::after,
.link__about-me::after {
  content: "";
  position: absolute;
  left: 32px;
  bottom: 0;
  width: 0%;
  height: 3px;
  background-color: rgb(255, 79, 0);
  transform: scaleX(0.5) translate(0px, -30px);
  transform-origin: left;
  transition: transform 250ms ease-in;
}

.side-navbar a:hover {
  color: rgb(255, 79, 0);
}

.link__about-me:hover::after {
  width: 27px;
  transform: scaleX(2.5) translate(0px, -30px);
}

.link__project:hover::after {
  width: 36px;
  transform: scaleX(2.5) translate(0px, -30px);
}

.side-navbar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 40px;
  margin-left: 50px;
}

.side-navbar .closebtn:hover {
  color: white;
}

main {
  height: 100vh;
  /* overflow: scroll; */
  /* scroll-snap-type: y mandatory;
  scroll-behavior: smooth; */
}

.section {
  min-height: 100vh;
  /* scroll-snap-align: start; */
}

.flexbox-main-container {
  display: flex;
  flex-direction: column;
  min-height: 85vh;
}

.flexbox-container-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 73vh;
}

.flexbox-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  min-height: 100%;
}

.message {
  display: flex;
  max-width: 30rem;
  filter: drop-shadow(2px 2px 5px var(--black));
  margin: 0 2.5rem 0 2.5rem;
}

.flexbox-container-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 12vh;
}

.flexbox-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.sub-title__phrase {
  line-height: 28px;
  color: black;
  font-weight: 400;
  font-family: var(--ff-sub);
  font-size: 20px;
  padding-right: 13px;
  padding-left: 13px;
  border-left: 3px solid black;
  border-right: 3px solid black;
}

.flexbox-main-container-mid {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.flexbox-container-three {
  min-height: 80vh;
}

.flexbox-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.flexbox-container-four {
  width: 100%;
  height: 20vh;
  background-image: url(/img/about-background.png);
  background-size: cover;
  background-position: 0%;
}

.sub-title__two {
  color: white;
  border-color: white;
}

.sub-title__three {
  color: white;
  border-color: white;
}

.card-grid {
  display: grid;
  grid-gap: 48px;
  grid-template-columns: repeat(auto-fit, minmax(0px, 18rem));
  justify-content: center;
  align-self: center;
  padding-bottom: 30px;
}

[class^="grid-item"] {
  display: grid;
  justify-content: center;
  background-color: var(--charcoal);
  box-shadow: var(--b-sh);
  min-height: 500px;
}

/* .flexbox-main-container-bot {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
} */

/* .flexbox-card {
  margin: 0 1.5rem 3rem 1.5rem;
  max-width: 18rem;
  background-color: var(--charcoal);
  box-shadow: var(--b-sh);
} */

.polygon {
  align-self: flex-start;
  clip-path: polygon(0 0, 100% 0, 101% 85%, -16% 100%);
}

.flexbox-container-five {
  width: 100%;
  height: 20vh;
  background-image: url(/img/projects-background.png);
  background-size: cover;
  background-position: 0%;
}

.section--top {
  background-color: #ff4f00;
  /* background-image: url(/img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(100vh - 181px); */
  /* 100vh - height of navbar*/

  /* Use previous one for old styling ot */

  min-height: calc(100vh - 100.5px);
}

.flexbox-container {
  height: calc(100vh - 10vh);
  background-color: var(--black); /* #333333 or #393939 also works */
  /* outline: 1px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexbox-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
  /* background-color: purple; */
}

.flexbox-one {
  margin-left: 10px;
  align-self: flex-start;
  background-color: #ff5722;
}

.underhello {
  margin-left: 35px;
  width: 96px;
  align-self: start;
  height: 10px;
}

.triangle {
  margin: auto;
  width: 20px;
  border-top: 15px solid #ff5722;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.hello {
  color: black;
  font-family: var(--ff-sub);
  font-weight: 500;
  padding: 10px 35px 10px 35px;
}

/* .flexbox-two {
  background-color: snow;
} */

.myname {
  color: white;
  font-family: var(--ff-sub);
  font-weight: var(--fw-b);
  font-size: 55px;
  padding: 18px 7px 10px 7px;
}

.arek {
  display: inline-block;
  word-wrap: break-word;
}

.punctuation {
  color: #ff5722;
}

.flexbox-three {
  /* display: inline-block; */
  align-self: flex-start;
  /* background-color: peachpuff; */
}

.littleabout {
  color: white;
  font-family: var(--ff-sub);
  font-size: 14px;
  letter-spacing: 0.1rem;
  padding: 10px;
}

.flexbox-four {
  align-self: flex-start;
  padding: 10px;
  font-size: 0;
  /* background-color: coral; */
}

.btn-one {
  display: inline;
  color: var(--white);
  font-family: var(--ff-sub);
  font-weight: 500;
  letter-spacing: 0.05rem;
  border-radius: 5px;
  border: none;
  background-color: #ff5722;
  width: 200px;
  padding: 15px 0px 15px 0px;
  margin-right: 5px;
}

.btn-two {
  display: inline;
  color: var(--white);
  font-family: var(--ff-sub);
  font-weight: 500;
  letter-spacing: 0.05rem;
  border-radius: 5px;
  border: 1px solid white;
  background-color: var(--black);
  width: 200px;
  padding: 15px 0px 15px 0px;
  margin-left: 5px;
}

.section--mid {
  background-color: #2b2b2b;
}

.section--bot {
  background-color: #362222;
}

.message__welcome {
  text-align: center;
  background-color: #ff4f00;
  font-family: var(--ff-main);
  font-size: 38px;
  font-weight: var(--fw-sb);
  letter-spacing: -0.1rem;
  padding: 1.5rem 0.8rem 1.5rem 0.8rem;
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  border-top: 2px solid #000000;
  border-left: 2px solid #000000;
  border-right: 2px solid #000000;
  border-bottom: 2px solid #000000;
}

.message__invite {
  background-color: var(--charcoal);
  align-items: center;
  color: var(--white);
  display: flex;
  font-family: var(--ff-main);
  font-size: calc(45px + 1.5vw);
  font-weight: var(--fw-b);
  letter-spacing: 0.055rem;
  line-height: calc(3.2rem + 0.5vw);
  padding: 0.5em 0.25em 0.5em 0.25em; /*1.5em 1em 1.5em 1em */
  text-align: center;
}

.background,
.background__image {
  visibility: hidden;
  display: none;
}

.about {
  max-width: 31.25rem;
  margin: 3.5rem 1.5rem 1.5rem 1.5rem;
  background-color: var(--charcoal);
  box-shadow: var(--b-sh);
}

.top,
.bottom {
  display: flex;
  justify-content: space-between;
}

.corner {
  display: flex;
  justify-content: space-between;
  background: #ff4f00;
  height: 10px;
  width: 10px;
}

.corner--one {
  clip-path: polygon(100% 0, 0 100%, 0 0);
}

.corner--two {
  clip-path: polygon(100% 100%, 0 0, 100% 0);
}

.corner--three {
  clip-path: polygon(100% 100%, 0 0, 0 100%);
}

.corner--four {
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

.header-mid {
  color: #ff4f00;
  font-family: var(--ff-sub);
  font-size: calc(32px + 1.5vw);
  font-weight: var(--fw-sb);
  letter-spacing: 0.075rem;
  padding: 3.375rem 2.5rem 0 2.5rem;
  text-align: center;
}

.underline {
  border-top: 1px solid #ff4f00;
  margin-left: 1.875rem;
  margin-right: 1.875rem;
}

hr {
  border: 0;
}

.headshot-container {
  display: flex;
  justify-content: center;
  margin: 0.85rem 0 0.85rem 0;
}

.headshot-outline {
  align-items: center;
  border-radius: 50%;
  border: 4px solid #ff4f00; /* #f45905 */
  display: flex;
  height: 125px;
  justify-content: center;
  width: 125px;
}

.headshot {
  border-radius: 50%;
  height: 100px;
  object-fit: cover;
  object-position: center 25%;
  width: 100px;
}

.details {
  color: var(--white);
  font-family: var(--ff-main);
  font-size: var(--fs-1); /*16*/
  font-weight: var(--fw-m);
  letter-spacing: 0.075rem;
  line-height: 1.9rem;
  padding: 0 1.25rem 3.375rem 1.25rem; /* was 2.5 left and right*/
  text-align: center;
}

.fullname {
  font-family: AntroBold;
  font-size: 19px;
  color: #ffff00;
}

.city {
  color: #dc2f2f;
}

.javascript {
  color: #f7df1e;
}

.html {
  color: #e34c26;
}

.p5 {
  color: #ed225d;
}

.app-title {
  color: #7cfc00;
}

.java {
  color: #5382a1;
}

.swing {
  color: #ed1d25;
}

/* _______________________________________________________ */
.project-title {
  font-family: var(--ff-sub);
  color: var(--white);
  font-size: calc(32px + 1.5vw);
  font-weight: var(--fw-sb);
  letter-spacing: 0.075rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}

.project__image {
  height: 250px;
  width: 100%;
  object-fit: cover;
  object-position: center left;
}

.image__three {
  object-position: center;
}

.image__four {
  object-position: center top;
}

.flexbox__description {
  align-self: flex-start;
  color: var(--white);
  font-family: var(--ff-sub);
  font-size: 0.8rem;
  letter-spacing: 0.075rem;
  line-height: 1.1rem;
  padding: 2em 3.5em 0em 3.5em;
  text-align: center;
}

.flexbox__button {
  align-self: flex-end;
  padding: 2em 0em 2em 0em;
  text-align: center;
}

.project-link {
  font-family: var(--ff-sub);
  letter-spacing: 0.02rem;
  background: linear-gradient(45deg, transparent 8%, var(--dark-orange) 5%);
  color: var(--black);
  font-size: var(--fs-def);
  font-weight: 500;
  padding: 0.625rem;
}

.footer {
  align-items: center;
  background-color: #131313;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: center;
}

.footer__text,
.footer__link {
  color: var(--white);
  font-size: var(--fs-1);
  padding: 0.375rem;
  text-align: center;
  transition: color 0.5s linear;
  width: 220px;
}

.footer-icon {
  font-size: var(--fs-2) !important;
  margin-right: 0.375rem;
  transform: translateY(3px);
}

.footer__link:hover {
  color: blue;
}

.scroll-top {
  background-color: var(--bright-red);
  border-radius: 50%;
  border: none;
  bottom: 10px;
  box-shadow: var(--b-sh);
  cursor: pointer;
  height: 40px;
  opacity: 0;
  outline: none;
  overflow: hidden;
  pointer-events: none;
  position: fixed;
  right: 10px;
  transition: visibility 0.5s, opacity 1s linear;
  visibility: 0;
  width: 40px;
}

.scroll-top-after {
  background-color: var(--bright-red);
  border-radius: 50%;
  border: none;
  bottom: 10px;
  box-shadow: var(--b-sh);
  cursor: pointer;
  height: 40px;
  opacity: 1;
  outline: none;
  position: fixed;
  right: 10px;
  transition: visibility 0.2s, opacity 0.7s linear;
  visibility: 1;
  width: 40px;
}

.material-icons {
  color: var(--white);
}

@media (max-width: 324px) {
  .flexbox-inner {
    padding-right: 0;
    padding-left: 0;
  }

  .myname {
    font-size: 45px;
  }
}

@media (max-width: 470px) {
  .btn-one,
  .btn-two {
    display: block;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 768px) {
  .header__logo {
    margin: 1rem 0 1rem 2rem;
    width: 55px;
    height: 55px;
  }
  .bar1,
  .bar2,
  .bar3 {
    width: 28px;
    height: 4px;
  }

  .change .bar1 {
    transform: rotate(-45deg) translate(-7px, 6px);
  }
  .change .bar3 {
    transform: rotate(45deg) translate(-6px, -6px);
  }

  .button:hover::before {
    height: 50px;
    width: 50px;
  }

  .nav__links li a {
    font-size: 22px;
  }

  .section--top {
    min-height: calc(100vh - 181px);
  }

  .message__invite {
    font-size: 62.5px;
    padding: 0.5rem 2rem 0.5rem 2rem;
    line-height: calc(3.7rem + 0.5vw);
  }

  .message__welcome {
    font-size: 40px;
  }

  .sub-title__phrase {
    font-size: 22px;
  }

  .header-mid {
    font-size: 45px;
  }

  .details {
    font-size: 1rem;
    padding: 0 2.25rem 3.375rem 2.25rem;
  }

  .project-title {
    font-size: 45px;
  }

  .flexbox__description {
    font-size: 0.9rem;
    padding: 2rem 2rem 0rem 2rem;
    line-height: 1.3rem;
    letter-spacing: 0.045rem;
  }

  .project-link {
    font-size: 1.1rem;
  }

  .scroll-top {
    width: 55px;
    height: 55px;
  }

  .scroll-top-after {
    width: 55px;
    height: 55px;
  }
  .material-icons {
    font-size: 28px !important;
  }
}
/* --------------------- */
/* --- MEDIA QUERIES --- */
/* @media (min-width: 1350px) {
  .header__logo {
    width: 75px;
    height: 75px;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 7%;
    background-color: var(--black);
  }

  .header__logo {
    margin-right: auto;
  }

  .nav__links li {
    display: inline-block;
    padding: 0px 20px;
  }

  .nav__links li a {
    white-space: nowrap;
    padding-right: 2rem;
    padding-left: 2rem;
    color: var(--white);
    font-family: var(--ff-sub);
    font-size: 18px;
    /* font-weight: var(--fw-sb); */
/* letter-spacing: -0.04em;
  }

  .nav__links li .link__about-me {
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: var(--black);
    background-color: #ff4f00;
  }

  .link__about-me::before {
    transition: width 0.25s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
    background: yellow;
  }

  .link__about-me::after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 4px;
    background-color: blue;
    transition: width 0.2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
    background: red;
  }

  .link__about-me:hover::after {
    width: 10.2rem;
    background-color: blue;
  } */

/* .link__about-me:hover::after {
    content: "";
    transition: width ease-out 3s;
  } */

/* .switch {
    top: 1.5rem;
    transform: translateY(-1.25rem, 0);
  }

  .section--top {
    flex-direction: row;
    min-height: calc(100vh - 66px);
    align-items: center;
    justify-content: space-between;
  }

  .message {
    margin: 0rem 2.5rem 0rem 7.5rem;
    max-width: 40rem;
  }

  .message__welcome {
    font-size: 3rem;
  }

  .message__invite {
    font-size: 5rem;
    letter-spacing: 0.075rem;
    line-height: 5rem;
    padding-top: 7rem;
    padding-bottom: 7rem;
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .background {
    visibility: visible;
    margin: 0rem 7.5rem 0rem 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--charcoal);
    padding: 2em;
  }

  .background__image {
    visibility: visible;
    display: block;
    filter: drop-shadow(2px 2px 5px var(--black));
    height: 32rem;
    max-width: 22rem;
    object-fit: cover;
  }

  .flexbox--mid {
    max-width: 44rem;
  } */

/* .header-mid {
    font-size: 4rem; 
    padding: 3.375rem 2.5rem 1rem 2.5rem;
  } */

/* .headshot-outline {
    height: 205px;
    width: 205px;
  }

  .headshot {
    height: 180px;
    width: 180px;
  }

  .details {
    font-size: 1.7rem;
    line-height: 3.5rem;
    padding: 0 2.5rem 2.5rem 2.5rem;
  }

  .section--bot {
    flex-direction: row;
    justify-content: center;
  }

  .flexbox--bot {
    margin: 0 0.7rem 0 0.7rem;
    max-width: 19rem;
  }

  .flexbox__description {
    height: 390px;
    font-size: 1.2rem;
    padding: 2rem 1rem 2rem 1rem;
    line-height: 2rem;
  }
} */

/* @media (max-width: 1350px) {
  .section--bot {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .flexbox__description {
    height: 350px;
    font-size: 1rem;
    padding: 2em 1em 2em 1em;
    line-height: 2rem;
  }
} */

/* @media (max-width: 770px) {
  .signature {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    transition: ease-in-out 0.5s;
  }

  .header__logo {
    display: hidden;
    visibility: hidden;
  }

  .switch {
    right: 5px;
  }

  .section--top {
    min-height: calc(100vh - 127px);
  }
} */
