html {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Alex";
  src: url("/fonts/AlexBrush-Regular.ttf");
}

@font-face {
  font-family: "AntroBold";
  src: url("/fonts/Antro_Vectra_Bolder.otf");
}

@font-face {
  font-family: "Antro";
  src: url("/fonts/Antro_Vectra.otf");
}

@font-face {
  font-family: "Halimun";
  src: url("/fonts/Halimun.ttf");
}

:root {
  /* --black: #000000;
  --bright-red: #ff0400;
  --charcoal: #202022;
  --dark-orange: #f45905;
  --dark-purple: #222831;
  --light-orange: #ffaf4f;
  --navy: #2d4059;
  --orange: #ff5722;
  --red: #dc2f2f;
  --white: #ffffff; */

  /* Color schemes */
  --black: #000000;
  --bright-red: #ff4f00;
  --charcoal: #000000;
  --dark-orange: #ff4f00;
  --dark-purple: #2b2b2b;
  --light-orange: #ffff00;
  --navy: #575151;
  --orange: #ff5722;
  --red: #dc2f2f;
  --white: #ffffff;

  /* Font Families */
  --ff-main: "Montserrat", sans-serif;
  --ff-sub: "Epilogue", sans-serif;
  --ff-sign: "Alex";

  /* Font Weights */
  --fw-r: 400;
  --fw-m: 500;
  --fw-sb: 600;
  --fw-b: 700;
  --fw-eb: 800;

  /* Font size */
  --fs-def: 1rem;
  --fs-0: 0.75rem;
  --fs-1: 0.875rem;
  --fs-2: 1.375rem;
  --fs-3: 2.5rem;
  --fs-4: 2.8rem;

  /* Box shadow */
  --b-sh: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: var(--fs-def); /*You'll want to set font-size as needed.*/
  font-weight: var(--fw-r); /*No bold for h tags unless you want it*/
  margin: 0; /*We will be adding our own margin to these elements as needed.*/
}

img {
  /*Make images behave responsively. Here they will scale up to 100% of their natural size*/
  max-width: 100%;
  /*Make images display as a block (UA default is usually inline)*/
  display: block;
}

/*Set a default non-variable font but then enhance if the browser supports a variable font*/
body {
  /* border-bottom: 5px solid #ff4f00;
  border-top: 5px solid #ff4f00; */
  font-family: Inter, sans-serif;
  /* background-color: orange; */
}

main {
  height: 100vh;
  /* overflow: scroll; */
  /* scroll-snap-type: y mandatory;
  scroll-behavior: smooth; */
}

::-webkit-scrollbar {
  display: none;
}

/* ################################################################ */
/*                         ################                         */
/*                         ################                         */
/* #########################     NAVBAR    ######################## */
.nice {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--black);
  z-index: 2;
  animation: page-load 530ms ease-in 825ms;
  animation-fill-mode: forwards;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black);
  min-height: 10vh;
  position: relative;
  border-bottom: 1px solid rgb(255, 87, 34);
}

.header__logo {
  margin-left: 2rem;
  width: 45px;
  height: 45px;
}

.line-navbar {
  display: none;
}

.right-side {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

.right-side__link {
  color: var(--white) !important;
  margin-right: 3rem;
}

.github-icon {
  font-size: 32px !important;
  transition: color 0.4s ease-out;
}

.github-icon:hover {
  color: rgb(255, 87, 34);
}

.side-navbar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s ease-in-out;
}

.side-navbar a {
  padding: 18px 32px 18px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  position: relative;
}

.side-navbar a:hover {
  color: rgb(255, 79, 0);
}

.side-navbar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 40px;
  margin-left: 50px;
}

.side-navbar .closebtn:hover {
  color: white;
}

.link__project::after,
.link__about-me::after,
.link__contact::after {
  content: "";
  position: absolute;
  left: 32px;
  bottom: 0;
  width: 0%;
  height: 3px;
  background-color: rgb(255, 79, 0);
  transform: scaleX(0.5) translate(0px, -30px);
  transform-origin: left;
  transition: transform 250ms ease-in;
}

.link__about-me:hover::after {
  width: 27px;
  transform: scaleX(2.5) translate(0px, -30px);
}

.link__project:hover::after {
  width: 37px;
  transform: scaleX(2.5) translate(0px, -30px);
}

.link__contact:hover::after {
  width: 35px;
  transform: scaleX(2.5) translate(0px, -30px);
}

.switch {
  position: absolute;
  width: 70px;
  height: 40px;
}

.switch input {
  display: none;
}

.switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ff4f00;
  transition: ease-in 0.6s;
  border-radius: 20px;
}

.switch__slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  top: 5px;
  left: 5px;
  background-color: var(--black);
  transition: ease-in 0.6s;
  border-radius: 20px;
}

.switch input:checked + .switch__slider:before {
  transform: translateX(30px);
}

.hamburger {
  display: inline-block;
  cursor: pointer;
  margin-right: 3rem;
  position: relative;
}

.button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 1s;
}

.button::before {
  content: "";
  z-index: -1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 0px;
  width: 0px;
  border-radius: 50%;
  background-color: rgb(255, 79, 0);
  transition: 0.3s ease-in-out;
}

.button:hover::before {
  content: "";
  height: 40px;
  width: 40px;
}

.bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
  transition: 0.3s ease-in;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-6px, 5px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-6px, -5px);
}
/* ################################################################ */
/*                         ################                         */
/*                         ################                         */
/* ########################  TOP SECTION  ######################## */
.section {
  min-height: 100vh;
  /* scroll-snap-align: start; */
}

.section--top {
  background-color: #ff4f00;
  /* background-image: url(/img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(100vh - 181px); */
  /* 100vh - height of navbar*/

  /* Use previous one for old styling ot */

  min-height: calc(100vh - 100.5px);
}

.flexbox-outer {
  min-height: calc(100vh - 10vh);
  background-color: var(--black); /* #333333 or #393939 also works */
  border-bottom: 1px solid rgb(255, 87, 34);
  display: flex;
  flex-direction: row; /* was column */
  justify-content: center;
  align-items: center;
}

.flexbox-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
  /* background-color: purple; */
}

.link-tree {
  display: none;
}

.link-tree a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e34c26;
  border-bottom: 1px solid black;
  height: 104px;
  width: 104px;
  transition: background-color 350ms linear;
}

.tree-icon {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 42px !important;
  transition: color 0.4s ease-out;
  width: 36px;
  height: 42px;
  fill: var(--white);
}

.link-tree a:hover {
  background-color: var(--black);
}

.link-tree a:hover > i {
  color: rgb(255, 87, 34);
}

.link-tree a:hover > svg {
  fill: rgb(255, 87, 34);
}

.container-one {
  margin-left: 10px;
  align-self: flex-start;
  background-color: #ff5722;
}

.container-one__hello {
  color: black;
  font-family: var(--ff-sub);
  font-weight: 500;
  font-size: 14px;
  padding: 10px 35px 10px 35px;
}

.container-two {
  margin-left: 35px;
  width: 96px;
  align-self: start;
  height: 10px;
}

.container-two__triangle {
  margin: auto;
  width: 20px;
  border-top: 15px solid #ff5722;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.container-three__text {
  color: white;
  font-family: var(--ff-sub);
  font-weight: var(--fw-b);
  font-size: 55px;
  padding: 18px 7px 10px 7px;
}

.container-three__dot,
.container-four__ampersand {
  color: #ff5722;
}

.container-three__fullname {
  display: inline-block;
  word-wrap: break-word;
}

.container-four {
  /* display: inline-block; */
  align-self: flex-start;
  /* background-color: peachpuff; */
}

.container-four__about {
  color: white;
  font-family: var(--ff-sub);
  font-size: 14px;
  letter-spacing: 0.1rem;
  padding: 10px;
}

.container-five {
  align-self: flex-start;
  padding: 10px;
  font-size: 0;
  /* background-color: coral; */
}

.container-five__btn,
.container-five__btn a {
  display: inline;
  color: var(--white) !important;
  font-family: var(--ff-sub);
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.05rem;
  border-radius: 5px;
  width: 200px;
  padding: 15px 0px 15px 0px;
}

.btn-one {
  cursor: pointer;
  border: 1px solid var(--black);
  background-color: #ff5722;
  margin-right: 5px;
  transition: background-color 350ms linear, border 350ms linear;
}

.btn-one:hover {
  border: 1px solid white;
  background-color: black;
}

.btn-two {
  cursor: pointer;
  border: 1px solid white;
  background-color: var(--black);
  margin-left: 5px;
  transition: background-color 350ms linear, border 350ms linear;
}

.btn-two a {
  display: inline;
  color: var(--white);
  font-family: var(--ff-sub);
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.05rem;
  border-radius: 5px;
  width: 200px;
  padding: 15px 0px 15px 0px;
}

.btn-two:hover {
  border: 1px solid var(--black);
  background-color: #ff5722;
}

.indicator {
  position: absolute;
  bottom: 0;
  border: 2px solid rgb(255, 87, 34);
  border-radius: 50px;
  width: 40px;
  height: 65px;
  margin-bottom: 5px;
}

.indicator__arrow {
  padding-top: 10px;
  text-align: center;
  color: rgb(255, 87, 34);
  font-size: 30px;
}

/* ################################################################ */
/*                         ################                         */
/*                         ################                         */
/* ######################## MIDDLE SECTION ######################## */

.section--mid {
  background-color: #2b2b2b;
}

.flexbox-mid-outer {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
}

.flexbox-mid-inner {
  min-height: 80vh;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.about-wrapper {
  max-width: 31.25rem;
  /* margin: 3.5rem 1.5rem 1.5rem 1.5rem; */
  margin: 0 1.5rem 0 1.5rem;
  background-color: var(--charcoal);
  box-shadow: var(--b-sh);
}

.flex-container-one,
.flex-container-two {
  display: flex;
  justify-content: space-between;
}

.flex-container-one__corner,
.flex-container-two__corner {
  background: #ff4f00;
  height: 10px;
  width: 10px;
}

.corner-one {
  clip-path: polygon(100% 0, 0 100%, 0 0);
}

.corner-two {
  clip-path: polygon(100% 100%, 0 0, 100% 0);
}

.corner-three {
  clip-path: polygon(100% 100%, 0 0, 0 100%);
}

.corner-four {
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

.about__header {
  color: #ff4f00;
  font-family: var(--ff-sub);
  font-size: calc(32px + 1.5vw);
  font-weight: var(--fw-sb);
  letter-spacing: 0.075rem;
  padding: 3.375rem 2.5rem 0 2.5rem;
  text-align: center;
}

hr {
  border: 0;
}

.about__underline {
  border-top: 1px solid #ff4f00;
  margin-left: 1.875rem;
  margin-right: 1.875rem;
}

.flex-headshot-container {
  display: flex;
  justify-content: center;
  margin: 0.85rem 0 0.85rem 0;
}

.flex-headshot-outline {
  align-items: center;
  border-radius: 50%;
  border: 4px solid #ff4f00; /* #f45905 */
  display: flex;
  height: 110px;
  justify-content: center;
  width: 110px;
}

.headshot__img {
  border-radius: 50%;
  height: 85px;
  object-fit: cover;
  object-position: center 25%;
  width: 85px;
}

.about__details {
  color: var(--white);
  font-family: var(--ff-main);
  font-size: 13px; /*16*/
  font-weight: var(--fw-m);
  letter-spacing: 0.075rem;
  line-height: 1.9rem;
  padding: 0 1.75rem 3.375rem 1.75rem; /* was 2.5 left and right*/
  text-align: center;
}

.fullname {
  font-family: AntroBold;
  font-size: 19px;
  color: #ffff00;
}

.city {
  color: #dc2f2f;
}

.picture {
  display: none;
}

.flexbox-quote {
  width: 100%;
  height: 20vh;
  background-size: cover;
  background-position: 0%;
}

.flexbox-quote--one {
  background-image: url(/img/about-background.png);
  transition: background-image 500ms linear;
}

.flexbox-quote-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.flexbox-quote__text {
  line-height: 28px;
  color: black;
  font-weight: 400;
  font-family: var(--ff-sub);
  font-size: 20px;
  padding-right: 13px;
  padding-left: 13px;
  border-left: 3px solid black;
  border-right: 3px solid black;
}

.text__one,
.text__two,
.text__three {
  color: white;
  border-color: white;
}

/* ################################################################ */
/*                         ################                         */
/*                         ################                         */
/* ######################## BOTTOM SECTION ######################## */

.section--bot {
  background-color: #362222;
}

.project-title {
  font-family: var(--ff-sub);
  color: var(--white);
  font-size: calc(32px + 1.5vw);
  font-weight: var(--fw-sb);
  letter-spacing: 0.075rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}

.card-grid {
  display: grid;
  grid-gap: 48px;
  grid-template-columns: repeat(auto-fit, minmax(0px, 18rem));
  justify-content: center;
  align-self: center;
  padding-bottom: 30px;
}

[class^="grid-item"] {
  display: grid;
  justify-content: center;
  background-color: var(--charcoal);
  box-shadow: var(--b-sh);
  height: 480px;
}

.project-container {
  align-self: flex-start;
  clip-path: polygon(0 0, 100% 0, 101% 85%, -16% 100%);
}

.project__image {
  height: 250px;
  width: 100%;
  object-fit: cover;
  object-position: center left;
}

.item__description {
  height: 150px;
  align-self: flex-start;
  color: var(--white);
  font-family: var(--ff-sub);
  font-size: 13px;
  /* letter-spacing: 0.075rem;
  line-height: 1.1rem; */
  line-height: 1.3rem;
  letter-spacing: 0.045rem;
  padding: 0 2.5rem 0 2.5rem;
  text-align: center;
}

.p5 {
  color: #ed225d;
}

.item__button {
  position: relative;
  height: 50px;
}

.item__button a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.language {
  clip-path: polygon(0 0, 75% 1%, 100% 25%, 100% 100%, 0 100%, 0% 50%);
  width: 30px;
  height: 30px;
}

.language-two {
  width: 30px;
  height: 30px;
}

.button-link {
  font-family: var(--ff-sub);
  letter-spacing: 0.02rem;
  background: linear-gradient(45deg, transparent 8%, var(--dark-orange) 5%);
  color: var(--black);
  font-size: 13px;
  font-weight: 500;
  padding: 0.625rem;
}

.app-title {
  color: #7cfc00;
}

.image__three {
  object-position: center;
}

.image__four {
  object-position: center top;
}

.image__five {
  object-position: center top;
}

.signature {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.signature__fullname {
  font-family: var(--ff-main);
  font-size: var(--fs-1);
  font-weight: var(--fw-eb);
  letter-spacing: -0.02em; /*-0.06em*/
  text-transform: uppercase;
  color: #ffffff;
}

.signature__title {
  font-family: var(--ff-main);
  font-size: var(--fs-0);
  font-weight: var(--fw-b);
  color: #ff5722;
  margin-top: 0.3125em;
}

.flexbox-quote--two {
  background-image: url(/img/contact-background.png);
  transition: background-image 500ms linear;
}

.footer {
  align-items: center;
  background-color: #131313;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: center;
}

.footer__text,
.footer__link {
  color: var(--white);
  font-size: var(--fs-1);
  padding: 0.375rem;
  text-align: center;
  transition: color 0.5s linear;
  width: 220px;
}

.footer-icon {
  font-size: var(--fs-2) !important;
  margin-right: 0.375rem;
  transform: translateY(3px);
}

.footer__link:hover {
  color: blue;
}

.scroll-top {
  background-color: var(--bright-red);
  border-radius: 50%;
  border: none;
  bottom: 10px;
  box-shadow: var(--b-sh);
  cursor: pointer;
  height: 40px;
  opacity: 0;
  outline: none;
  overflow: hidden;
  pointer-events: none;
  position: fixed;
  right: 10px;
  transition: visibility 0.5s, opacity 1s linear;
  visibility: 0;
  width: 40px;
}

.scroll-top-after {
  background-color: var(--bright-red);
  border-radius: 50%;
  border: none;
  bottom: 10px;
  box-shadow: var(--b-sh);
  cursor: pointer;
  height: 40px;
  opacity: 1;
  outline: none;
  position: fixed;
  right: 10px;
  transition: visibility 0.2s, opacity 0.7s linear;
  visibility: 1;
  width: 40px;
}

.material-icons {
  color: var(--white);
}

@keyframes page-load {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

.section--end {
  background-color: #ebd5d5;
  position: relative;
}

/* ################################################################ */
/*                         ################                         */
/*                         ################                         */
/* ########################  FORM SECTION  ######################## */

/* .contact-form {
  background-color: var(--black);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 650px;
} */

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh;
  padding: 10px;
  margin-right: 25px;
  margin-left: 25px;
}

.main-fieldset {
  background-color: var(--black);
  padding: 20px 30px 60px 30px;
  border: none;
}

legend {
  background-color: var(--black);
  border: 4px solid #ff4f00;
  border-radius: 5px;
  font-family: var(--ff-main);
  font-weight: 600;
  font-size: 27px;
  color: var(--white);
  margin-bottom: 10px;
  margin-left: -12px;
  padding: 0 30px 0 30px;
}

/* .form-Input_Wrapper + .form-Input_Wrapper {
  margin-top: 10px;
} */

.form-Input_Wrapper {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  flex-direction: column;
}

#firstName,
#lastName,
#email,
#tel {
  position: relative;
  margin-bottom: 10px;
  font-family: var(--ff-sub);
  font-size: 17px;
  min-height: 50px;
  padding-left: 20px;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: #ff5722;
  caret-color: var(--black);
}

#email {
  font-size: 14px;
}

#firstName::placeholder,
#lastName::placeholder,
#email::placeholder,
#tel::placeholder {
  padding-left: 2px;
  font-family: var(--ff-sub);
  font-size: 17px;
  color: var(--black);
}

#message {
  margin-top: 15px;
  font-family: var(--ff-sub);
  font-size: 17px;
  padding: 15px;
  margin-bottom: 5px;
  text-align: left;
  outline: none;
  border: none;
  resize: none;
  border-radius: 10px;
  min-height: 75px;
  background-color: #ff5722;
  caret-color: var(--black);
}

#message::placeholder {
  padding-left: 2px;
  font-family: var(--ff-sub);
  font-size: 17px;
  color: var(--black);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--white);
  -webkit-box-shadow: 0 0 0px 1000px #292a2d inset;
}

.submit-Form_Button {
  font-family: var(--ff-sub);
  font-size: 17px;
  border: none;
  border-radius: 50px;
  margin-top: 10px;
  width: 140px;
  height: 45px;
  background-color: #739328;
  color: var(--white);
}

.flexbox-quote--three {
  background-image: url(/img/projects-background.png);
  transition: background-image 500ms linear;
}
/* ################################################################ */
/*                         ################                         */
/*                         ################                         */
/* ######################### MEDIA QUERIES ######################## */

@media (max-width: 324px) {
  .flexbox-inner {
    padding-right: 0;
    padding-left: 0;
  }
  .container-three__text {
    font-size: 45px;
  }

  .card-grid {
    padding: 0 1.5rem 0 1.5rem;
  }

  .contact-form {
    margin: 0 auto;
  }

  #firstName,
  #lastName,
  #email,
  #tel,
  #message {
    font-size: 14px;
  }

  #message {
    padding: 10px;
  }

  #firstName::placeholder,
  #lastName::placeholder,
  #email::placeholder,
  #tel::placeholder,
  #message::placeholder {
    font-size: 14px;
  }
}

@media (max-width: 470px) {
  .btn-one,
  .btn-two {
    display: block;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 530px) {
  .flexbox-quote--two {
    background-image: url(/img/contact-background-two.png);
  }
}

@media (min-width: 575px) {
  .flexbox-quote--one {
    background-image: url(/img/about-background-two.png);
  }
}

/* @media (max-width: 675px) {
  .contact-form {
    width: 400px;
  }

  .main-fieldset {
    gap: 0px;
  }

  #firstName,
  #lastName,
  #email {
    margin-bottom: 15px;
  }

  #tel {
    margin-bottom: 30px;
  }

  #message {
    width: 350px;
    margin-bottom: 15px;
  }

  #submit {
    margin-top: 0px;
  }
} */

@media (min-width: 768px) {
  .header__logo {
    margin-left: 2rem;
    width: 55px;
    height: 55px;
  }

  .right-side__link {
    display: none;
  }

  .link-tree {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .link-tree__link {
    color: var(--white) !important;
  }

  .hamburger {
    display: none;
  }

  .line-navbar {
    display: flex;
    height: 100%;
  }

  .line-navbar-one {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff5722;
  }

  .line-navbar-two,
  .line-navbar-three {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .line__link {
    padding: 1.5rem 1rem 1.5rem 1rem;
    /* padding-left: 1rem;
    padding-right: 1rem; */
    color: var(--white);
    font-family: var(--ff-sub);
    font-size: 19px;
    font-weight: 500;
    letter-spacing: 0.05em;
    transition: color 0.4s ease-out;
    position: relative;
  }

  .line__link-one::after,
  .line__link-two::after,
  .line__link-three::after {
    content: "";
    position: absolute;
    right: 68px;
    top: 75px;
    bottom: 0;
    width: 0%;
    height: 3px;
    background-color: rgb(255, 79, 0);
    transform: scaleX(0.5) translate(0px, -30px);
    transform-origin: left;
    transition: transform 250ms ease-in-out;
  }

  .line__link-one::after {
    background-color: rgb(0, 0, 0);
    right: 74px;
  }

  .line__link-three::after {
    right: 66px;
  }

  .line__link-one:hover::after {
    width: 39px;
    transform: scaleX(2.5) translate(0px, -30px);
  }

  .line__link-two:hover::after {
    width: 35px;
    transform: scaleX(2.5) translate(0px, -30px);
  }

  .line__link-three:hover::after {
    width: 34px;
    transform: scaleX(2.5) translate(0px, -30px);
  }

  .line__link-one:hover {
    color: var(--black);
  }

  .line__link-two:hover,
  .line__link-three:hover {
    color: rgb(255, 87, 34);
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 28px;
    height: 4px;
  }

  .change .bar1 {
    transform: rotate(-45deg) translate(-7px, 6px);
  }
  .change .bar3 {
    transform: rotate(45deg) translate(-6px, -6px);
  }

  .button:hover::before {
    height: 50px;
    width: 50px;
  }

  .container-one__hello {
    font-size: calc(13px + 0.5vw);
  }

  .container-three__text {
    font-size: calc(56px + 1vw);
  }

  .container-four__about {
    font-size: calc(15px + 0.3vw);
  }

  .container-five__btn {
    width: 260px;
  }

  .container-five__btn,
  .container-five__btn a {
    font-size: calc(12px + 0.3vw);
  }

  .link-tree {
    display: flex;
    flex-direction: column;
    background-color: white;
    position: relative;
    margin-right: 20px;
  }

  .flexbox-mid-outer {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .flexbox-quote__text {
    font-size: 22px;
  }

  .about__header {
    padding: 2.5rem 2.5rem 0 2.5rem;
    font-size: 45px;
  }

  .flex-headshot-outline {
    height: 125px;
    width: 125px;
  }

  .headshot__img {
    height: 100px;
    width: 100px;
  }

  .about__details {
    font-size: 15px;
    padding: 0 1.25rem 2.5rem 1.25rem;
  }

  .picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .picture-wrapper {
    position: relative;
    width: 300px;
    height: 300px;
    background: #2b2b2b;
    margin: 0 1.5rem 0 1.5rem;
  }

  .picture-tint {
    position: absolute;
    width: 100%;
    height: 100%;
    /* opacity: 0; */
  }

  .picture__wall {
    border-radius: 7px;
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: grayscale(1);
  }
  .pin-head {
    width: 20px;
    height: 20px;
    background-color: rgb(27, 27, 27);
    border-radius: 50px;
    position: absolute;
    top: -5px;
    left: -5px;
  }

  .pin {
    width: 30px;
    height: 30px;
    background-color: var(--black);
    border-radius: 50px;
    position: absolute;
    top: -10px;
    left: -10px;
  }

  .timeline {
    position: absolute;
    top: 175px;
    right: -125px;
    transform: rotate(90deg);
    width: 200px;
  }

  .date {
    font-family: var(--ff-sub);
    text-align: center;
    letter-spacing: 0.08rem;
    font-size: 25px;
    color: white;
    font-weight: 800;
  }

  .date::before {
    content: "";
    width: 103px;
    height: 2px;
    background-color: white;
    position: absolute;
    top: 12px;
    right: 0;
    left: -270px;
    margin: auto;
  }

  .date::after {
    content: "";
    width: 43px;
    height: 2px;
    background-color: white;
    position: absolute;
    top: 12px;
    right: 0;
    left: 180px;
    margin: auto;
  }

  .clapperboard {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    position: absolute;
    border-radius: 6px;
    right: -32px;
    bottom: -22px;
    width: 100px;
    height: 100px;
    background: var(--black);
  }

  .decoration {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 20px;
  }

  .line {
    width: 8px;
    height: 16px;
    background-color: white;
  }

  .clapperboard__text {
    font-size: var(--ff-sub);
    letter-spacing: 0.04rem;
    font-size: 15px;
    padding: 0 20px 0 20px;
    color: white;
    font-weight: 900;
  }

  .project-title {
    font-size: 45px;
  }

  .button-link {
    font-size: 15px;
  }

  .item__description {
    font-size: 14px;
  }

  .scroll-top {
    width: 55px;
    height: 55px;
  }

  .scroll-top-after {
    width: 55px;
    height: 55px;
  }
}

@media (min-width: 800px) {
  .contact-form {
    max-width: 650px;
    margin: 0 auto;
  }

  .main-fieldset {
    padding: 20px 30px 60px 30px;
  }
}

@media (min-width: 930px) {
  .flexbox-quote--three {
    background-image: url(/img/project-background-two.png);
  }
}

@media (min-width: 960px) {
  .about__header {
    padding: 3.375rem 2.5rem 0 2.5rem;
  }

  .about__details {
    padding: 0 1.75rem 3.375rem 1.75rem;
  }

  .picture-wrapper {
    height: 400px;
    width: 400px;
  }

  .grid-item-4 {
    /* grid-column: 2 / 3; */
  }
}

@media (max-width: 1045px) {
  .timeline,
  .clapperboard {
    display: none;
  }
}

@media (min-width: 1295px) {
  .flexbox-outer {
    justify-content: space-evenly;
    padding-left: 90px;
    padding-right: 90px;
  }

  .grid-item-4 {
    grid-column: 4;
  }
}
